body{
    background-color: rgb(187, 206, 206);
    font-weight: 200;
    font-style: italic;
}
.home_dashboad{
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 20%;
    background-color: bisque;
    color: blue;
    position: absolute;
}

.display_dashboard{
    top: 0%;
    bottom: 0%;
    left: 20%;
    right: 0%;
    background-color: rgb(182, 123, 51);
    color: blue;
    position: absolute;
}

