body{
    padding-left: 4%;
    padding-top: 2%;
    padding-right: 4%;
}
form tr th{
    text-align: left;
    text-transform: uppercase;
}

form tr td input{
    width: 100%;
    padding: 4px 5px;
    height: 40px;
    font-size: 16px;
    border: 1px solid;
    background: aquamarine;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-color: aqua;
    outline: none;
}

form tr input:hover{
    border-width: 5px;
    border-color: #3b5cf0;
    transition: .5s;
}
form tr td span input{
    width: 50%;
    
}
form tr:hover{
    background: aquamarine;
    transition: .5s;
}
.no_hover:hover{
    background: none;
}
