table tr{
    width: 100%;
    padding: 4px 5px;
    height: 40px;
    font-size: 16px;
    border: 1px solid;
    background: aquamarine;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-color: aqua;
    outline: none;
}

table tr th{
    background: rgb(20, 88, 88);
}

table tr th:hover{
    background: rgb(63, 191, 196);
    color: white;
    transition: .95s;
}

table tr:hover{
    background: rgb(6, 23, 24);
    color: white;
    transition: 5s;
    text-decoration: none;
}
table td:hover{
    background: rgba(7, 30, 105, 0.37);
    color: white;
    transition: .95s;
}